/*#region common*/
/*#endregion common*/
*{
    margin: 0;
    padding: 0;
}
/*#region header*/
.menu{
    display: flex;
    height: 40px;
    justify-content: center;
    background-color: var(--bool-background-color);
    align-items: center;
    padding: 5px 25%;    
}

.link{
    flex-grow: 2;
    text-align: center;
    background-color: var(--bool-background-menu);
}

.logo{
    flex-grow: 1;
    background-color: var(--bool-background-menu);
}
.login{
    flex-grow: 1;
    background-color: var(--bool-background-menu);
}

.container{
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.container.upper{
    background-color: var(--bool-conteiner);
    height: 400px;
}

.rectangle{
    height: 80px;
    width: 240px;
    background-color: var(--bool-rectangle);
}


/*#endregion header*/

/*#region main*/
.container.main{
    background-color: var(--bool-lighter);
    height: 400px;
}

.square{
    height: 200px;
    width: 230px;
    background-color: var(--bool-primary);
}

.written{
    height: 200px;
    width: 180px;
    background-color: var(--bool-secondary);
}

.container.secondary{
    background-color: var(--bool-light);
    height: 400px;
}

.container.big{
    background-color: var(--bool-light);
    height: 800px;
}

.green{
    background-color: var(--bool-green);
    height: 400px;
    width: 400px;

}

.container.bottom{
    background-color: var(--bool-black);
    height: 400px;
}

.red{
    width: 133px;
    height: 350px;
    background-color: var(--bool-red);
}

.bottomgreen{
    height: 350px;
    width: 66px;
    background-color: var(--bool-blugreen);
}

/*#endregion main*/

.form{
    display: flex;
    justify-content: space-between;
    background-color: var(--bool-footergreen);
    height: 35px;
    width: 800px;
    align-items: center;
}
.container.footer{
    background-color: var(--bool-black);
    height: 40px;
}
.button{
    height: 20px;
    width: 50px;
    background-color: var(--bool-pink);
}

.logofooter{
    height: 20px;
    width: 50px;
    background-color: var(--bool-pink);
}

/*#region utility*/

:root{
    --bool-background-color: #add8e6FF;
    --bool-background-menu: #daa520FF;
    --bool-conteiner: #00008bFF;
    --bool-rectangle: #ee82eeFF;
    --bool-lighter: #ffffffFF;
    --bool-primary: #1e90ffFF;
    --bool-secondary: #ffc0cbFF;
    --bool-light: #d3d3d3FF;
    --bool-green: #228b22FF;
    --bool-black: #23272aFF;
    --bool-red: #f08080FF;
    --bool-blugreen: #20b2aaFF;
    --bool-footergreen: #7fffd4FF;
    --bool-pink: #fdb3bcFF;
}

/*#endregion utility*/
